@import "../../variables";
@import "../../animations";

.hero_image {
  position: relative;
  animation: slideInRight 2s ease;
  -webkit-animation: slideInRight 2s ease; /* Safari and Chrome */
  -moz-animation: slideInRight 2s ease; /* Firefox */
  -ms-animation: slideInRight 2s ease; /* Internet Explorer */
  -o-animation: slideInRight 2s ease; /* Opera */

  &:after {
    position: absolute;
    content: "";
    right: 5%;
    top: 5%;
    width: 50px;
    height: 50px;
    transform-origin: center center;
    animation: spin 10s infinite;
    -webkit-animation: spin 10s infinite; /* Safari and Chrome */
    -moz-animation: spin 10s infinite; /* Firefox */
    -ms-animation: spin 10s infinite; /* Internet Explorer */
    -o-animation: spin 10s infinite; /* Opera */
    background: url("../../assets/images/hero/star.svg") center no-repeat;
  }
  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    width: 30px;
    height: 30px;
    transform-origin: center center;
    animation: spin 2s infinite;
    -webkit-animation: spin 2s infinite; /* Safari and Chrome */
    -moz-animation: spin 2s infinite; /* Firefox */
    -ms-animation: spin 2s infinite; /* Internet Explorer */
    -o-animation: spin 2s infinite; /* Opera */
    background: url("../../assets/images/hero/star.svg") no-repeat;
    background-size: 100% 100%;
  }
  img {
    max-width: 100%;
    position: relative;
  }
}
