@import "../../variables";
@import "../../animations";

.hero_image {
  width: 50vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  .image {
    &.banking,
    &.shopping {
      animation: floatingCloud 2s infinite;
    }
    &.transactions,
    &.savings {
      animation: floatingCloud 2.5s infinite;
    }
    img {
      max-width: 100%;
    }
  }
  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

@media screen and (max-width: 768px) {
  .hero_image {
    z-index: -1;
    transform: rotate(90deg);
    position: fixed;
    bottom: -660px;
    z-index: 2;
    width: 1010px;
    height: auto;
  }
}

@media screen and (max-width: 375px) {
  .hero_image {
    width: 1500px;
    bottom: -370px;
  }
}
