@import "../_variables.scss";

.wrapper {
  width: 100vw;
}

.container {
  width: 100%;
  margin: 50px auto;
  padding: 32px 40px;
  box-sizing: border-box;
  max-width: 768px;
  background-color: $color-white;
  border-radius: $border-radius-large;
}
