@import "../_variables.scss";

.wrapper {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  column-gap: 30px;
}

@media screen and (min-width: 769px) {
  .wrapper {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100vw;
    flex-direction: column-reverse;
  }
}

.container {
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    padding: 0 20px;
    flex-direction: column-reverse;
  }
}
