@import "../_variables.scss";

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  grid-column-gap: 40px;
  align-items: center;
}

.container {
  width: 50vw;
  padding: 80px;
  box-sizing: border-box;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}
