@import "../../variables";

button {
  font-family: $font-family-body;
  font-size: $font-size-small;
  border-radius: $border-radius-medium;
  padding: 8px 12px;
  margin: 15px 0 0;
  min-width: 120px;
  width: 100%;
  outline: none;
  border: 1px solid $color-primary-text;
  cursor: pointer;
  &.primary {
    background-color: $color-secondary;
    box-shadow: 4px 4px $color-secondary-3;
    &:hover {
      transform: translateY(4px) translateX(4px);
      box-shadow: 2px 2px $color-secondary-3;
    }
  }
}
