@import "../../variables";

.snackbar {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: $color-secondary-4;
  color: $color-white;
  padding: 12px 24px;
  border-radius: 4px;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  &.success {
    background-color: $color-success;
  }
  &.error {
    background-color: $color-error;
  }
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}
