@import "../../variables";
@import "../../animations";

.login-wrapper {
  margin: 0 auto;
  opacity: 0;
  animation: slideIn 1.5s ease-in-out forwards;
}

h1 {
  -webkit-animation: animated-text 2s steps(20) 0.5s 1 normal both;
  animation: animated-text 2s steps(20) 0.5s 1 normal both;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  h1 {
    -webkit-animation: none;
    animation: none;
    margin: 0;
  }
}
