@import "../../variables";
@import "../../animations";

.login-wrapper {
  margin: 0 auto;
  opacity: 0;
  animation: slideIn 1.5s ease-in-out forwards;
}

h1 {
  -webkit-animation: animated-text 2s steps(20) 0.5s 1 normal both;
  animation: animated-text 2s steps(20) 0.5s 1 normal both;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  h1 {
    -webkit-animation: none;
    animation: none;
    margin: 0;
  }
}

.checkbox-wrapper {
  display: flex;
  width: 50%;
  column-gap: 10px;
  align-items: center;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 15px;
  height: 15px;
  border: 1px solid $color-black-3;
  border-radius: $border-radius-small;
  transform: translateY(0px);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 7px;
  height: 7px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
