// Typography
$font-family-body: "New Hero", sans-serif;
$font-family-header: "New Order", sans-serif;

$font-size-xs: 12px; // Helper text and etc
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xl: 26px; // Typically reserved for headers
$font-size-xxl: 38px;
$font-size-hero: 55px;

$line-height-small: 1.4;
$line-height-medium: 1.5;
$line-height-large: 1.6;

// Color Palette
$color-primary: #ff6884;
$color-secondary: #c3e6e2;
$color-secondary-1: #74d5d1;
$color-secondary-2: #65bab7;
$color-secondary-3: #469a97;
$color-secondary-4: #2a7a79;

$color-background: #fbf5e7;

$color-white: #ffffff;

$color-primary-text: #333333;
$color-secondary-text: #454f57;
$color-black-3: #59646d;

$color-success: #63c132;
$color-error: #bb342f;

// Border
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 12px;
