// Typography
$font-family-body: "New Hero", sans-serif;
$font-family-header: "New Order", sans-serif;

$font-size-xs: 12px; // Helper text and etc
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xl: 26px; // Typically reserved for headers
$font-size-xxl: 38px; // Typically reserved for headers

$line-height-small: 1.4;
$line-height-medium: 1.5;
$line-height-large: 1.6;

// Color Palette
$color-primary-50: #f7f2f7;
$color-primary-100: #ead9ec;
$color-primary-200: #ddc0e1;
$color-primary-300: #d0a7d6;
$color-primary-400: #c390cb;
$color-primary-500: #8d6a9f;
$color-primary-600: #7b5e8f;
$color-primary-700: #69527f;
$color-primary-800: #57466f;
$color-primary-900: #453a5f;

$color-secondary-50: #fff5e5;
$color-secondary-100: #ffe2b7;
$color-secondary-200: #ffcd89;
$color-secondary-300: #ffb75c;
$color-secondary-400: #ffa238;
$color-secondary-500: #dda448;
$color-secondary-600: #c59640;
$color-secondary-700: #aa8638;
$color-secondary-800: #917730;
$color-secondary-900: #796829;

$color-background: #f5f5f5;
$color-text: #333333;

$color-white: #ffffff;
$color-grey: #cfc7d2;

$color-success: #63c132;
$color-error: #bb342f;

// Border
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 12px;
