@import "_variables.scss";

body,
html {
  padding: 0;
  font-family: $font-family-body;
  font-size: $font-size-small;
  line-height: $line-height-medium;
  color: $color-text;
  background: $color-background;
}

h1 {
  font-family: $font-family-header;
  font-size: $font-size-xxl;
  color: $color-text;
  letter-spacing: -1px;
}

.small {
  font-size: $font-size-xs;
  line-height: $line-height-small;
}

.row {
  display: flex;
  justify-content: space-between;
}
